.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
    vertical-align: top;
}
a:hover {
    background-color: rgb(0, 255, 149);
  }
  /* a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-size: 17.5px;
} */