<div class="container-fluid" style="background-color: orchid;">
    <div class="row">
      <div class="col-sm-2" style="margin-top: 10px;font-size: 20px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: left;"><a href= "index.html">
        <img src="../assets/logo.png" width="40vw" height="40vh" />   </a>
        Pixogram
    </div>
      <div class="col-sm-1 col-sm-offset-1"></div>
      <div class="col-sm-6" style="background-color:orchid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav mx-auto" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link fas fa-file-upload" href="#" routerLink="uploadmedia">Upload Media<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fas fa-camera-retro" href="#" routerLink="mymedia">My Media</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fas fa-users" href="#" routerLink="follow">Followers/Following</a>
                </li>
              </ul>
            </div>
          </nav>
      </div>
      <div class="col-sm-1 col-sm-offset-1"></div>
      <div class="col-sm-2" style="text-align: right; font-weight: bold; margin-top: 15px;">
        <a href="#" style="color: inherit; text-decoration: none;" routerLink="newsfeed">Account</a>
        <img src="{{ userpic }}" onerror="this.onerror=null; this.src='../assets/account.svg'"  width="30vw" style="margin-left: 5px;"/>
      </div>
    </div>
    
  </div>
